body{margin:0px;padding:0px;font-family:"微软雅黑";background-color:#F0ECE0;background:url(images/body.jpg);}
ul{margin:0px;padding:0px;list-style:none;}
a{text-decoration:none;}
.clear{clear:both;}
p{margin:0px;padding:0px;}
img{border:0px;}
.fixed-left{
	position:fixed;
	left:0px;
	bottom:0px;
	z-index:99999999;
}
.fixed-right{
	position:fixed;
	right:0px;
	bottom:0px;
	z-index:99999999;
}
.top{width:100%;}
.top-frame{
	margin:0 auto;
	width:1226px;
	height:90px;
	position:absolute;
	top:115px;
	left:0px;
	right:0px;
	z-index:9999999;
	transition:transform .4s;
	border-bottom:3px solid #ff6700;
}
.top-nav{
	float:left;
	margin-top:-30px;
	position:absolute;
	left:-340px;
	z-index:1;
	transition:transform 1000s;
	animation:ab 15s infinite linear; 
}
@keyframes ab{
	0%{transform:translateX(340px);}
	50%{transform:translateX(1440px);}
	100%{transform:translateX(340px);}
}
.top-frame:hover.top-center{
	transform:scale(1.3);
}
.logo-top{
	width:1226px;
	height:115px;
	margin:0 auto;
	background-color:#fff;
	border-top:1px solid #D8E5F2;
}
.top-left{
	position:absolute;
	left:550px;
	z-index:9999;
	transition:0.5s;
}
.top-left:hover{
	transform:translateX(-20px);
	transition:0.5s;	
}
.logo{
	width:260px;
	height:115px;
	font-size:24px;
	color:#F25F5B;
	line-height:115px;
	text-align:center;
	float:left;
	cursor:pointer;
}
.logo:hover{
	color:#ff6799;
}
.top-search{
	width:140px;
	height:115px;
	float:right;
}
.top-search i{
	line-height:115px;
	font-size:30px;
	cursor:pointer;
}
.top-search i:hover{
	color:#ff6700;
}
.top-na{
	width:695px;
	height:115px;
	float:right;
}
.top-nav-left{
	width:100%;
	height:49px;
	color:#FFFFFF;
	float:left;
	margin:33px 0;
}
.top-nav-left a{
	display:block;
	width:82px;
	height:49px;
	float:left;
	line-height:49px;
	text-align:center;
	color:#999999;
	border-radius:15px;
	transition:background .3s;
}
#cda{
	background-color:#F77B6F;
	color:#FFFFFF;
}
#cba{
	margin-left:39px;
}
.top-nav-left a:hover{
	background-color:#F77B6F;
	color:#FFFFFF;
}
.header{
	width:1226px;
	height:90px;
	margin:0 auto;
	background-color:#475268;
}
.header-left{
	display:block;
	width:110px;
	line-height:90px;
	font-size:24px;
	color:#FFFFFF;
	float:left;
	margin-left:47px;
	transition:color .4s;
}
.header-left:hover{
	color:#ff6700;
}
.header-right{
	width:245px;
	line-height:90px;
	float:right;
	color:#A6C4C5;
}
.home{
	color:#F77B6F;
}
.pages{
	color:#F77B6F;
}
.services{
	color:#FFFFFF;
}
.content{
	width:1226px;
	height:950px;
	margin:0 auto;
	background-color:#FFFFFF;
}
.box{
	height:400px;
	overflow:hidden;
}
.pic li{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	opacity:0;
	transition:all 1s;
}
.box{ 
	width:1226px;
	height:400px;
	position:relative;
	border:1px solid #999
}
.box ul.btn{
	position: absolute;
	z-index: 999;
	left: 526px;
	top: 333px;
}
.box ul.btn li{
	width:30px;
	height:30px;
	border-radius:50%;
	background:#FFF;
	margin:0 5px;
	float:left;
	cursor:pointer 
}
.box .on_left{
	width:50px;
	height:100px; 
	background:#ff6700; 
	opacity:0.3; 
	position:absolute; 
	left:0px; 
	top:50%; 
	z-index:9; 
	margin-top:-50px; 
	cursor:pointer; 
	font-size:50px; 
	line-height:100px; 
	text-align:center}
.box .on_right{ 
	width:50px; 
	height:100px;
	background:#ff6700; 
	opacity:0.3; 
	position:absolute; 
	right:0px; top:50%; 
	z-index:9; 
	margin-top:-50px; 
	cursor:pointer; 
	font-size:50px;
	line-height:100px; 
	text-align:center
}
.box .on_left:hover{
	background:#FFFFFF; 
	opacity:0.4; 
}
.box .on_right:hover{
	background:#FFFFFF; 
	opacity:0.4; 
}
.content-bottom{
	width:1226px;
	height:450px;
	margin-top:50px;
}
.content-bottom-left{
	width:450px;
	height:448px;
	float:left;
	margin-left:50px;
}
.content-bottom-left-top{
	width:450px;
	height:150px;
}
.content-bottom-left-text{
	line-height:25px;
	color:#848686;
	font-size:14px;
	font-weight:200px;
}
.content-bottom-left-font{
	line-height:50px;
	color:#5D677B;
	font-size:20px;
}
.content-bottom-left-center{
	width:450px;
	height:150px;
	color:#838383;
}
.content-bottom-left-center p{
	line-height:30px;

}
.content-bottom-right{
	width:676px;
	height:448px;
	float:right;
	margin-right:50px;
}
.content-bottom-right-input p{
	font-size:12px;
	color:#7F7F7D;
	margin-top:20px;
}
.content-bottom-right-input input{
	width:620px;
	height:30px;
	outline:medium;
	overflow-x:auto;
	text-indent:10px;
}
.content-bottom-right-input2 input{
	width:620px;
	height:30px;
	outline:medium;
	overflow-x:auto;
	text-indent:10px;
}
.content-bottom-right-input3 input{
	width:620px;
	height:30px;
	outline:medium;
	overflow-x:auto;
	text-indent:10px;
}
.content-bottom-right-input4 input{
	width:620px;
	height:100px;
	outline:medium;
	overflow-x:auto;
	text-indent:10px;
}
.content-bottom-right-submit{
	width:100px;
	height:40px;
	margin-top:15px;
	border-radius:7px;
	outline:medium;
	font-size:18px;
	color:#FFF;
	border:1px solid #FF6C60;
	background-color:#FF6C60;
	cursor:pointer;
}
.content-bottom-right-submit p{
	text-align:center;
	line-height:40px;
	color:#FFFFFF;
}
.footer{
	width:1226px;
	height:370px;
	margin:0 auto;
	color:#FFFFFF;
	background-color:#475268;
	font-family:"方正楷体";
	font-weight:bold;
	position:relative;
}
.footer-left{
	width:300px;
	float:left;
	margin-top:50px;
	margin-left:50px;
}
.footer-left p{
	line-height:30px;
}
.footer-center{
	width:300px;
	float:left;
	margin-top:50px;
	margin-left:50px;
	font-family:"方正楷体";
}
.footer-center p{
	line-height:50px;
}
.footer-right{
	width:210px;
	float:right;
	margin-right:80px;
	margin-top:70px;
}
.footer-right-none{
	width:210px;
	height:100px;
	margin-top:50px;
}
.footer-right-none li{
	width:45px;
	height:45px;
	float:left;
	margin-left:10px;
	margin-top:10px;
	border-radius:5px;
	cursor:pointer;
	transition:0.5s;
	background-color:#505B71;
	transition:background-color 0.3s 0.3s;
}
.footer-right-none li:hover{
	transform:translateY(-20px);
	transition:0.5s;
	background-color:#ff6700;
}